body{
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
  background-color: #e6e6e6;
}

ol {
  list-style-position: inside;
}

.view {
  border: 1px solid black;
  margin: auto;
  width: 60%;
  padding: 15px;
}

input {
  background-color: white;
}
